body {
   background-color: black;
   color: white;
   padding: 0px;
   margin:0px;
   border:0px;
}

.header{
   background-color: grey;
   display: block;
   border:0px;
   padding-bottom:10px;
   background:linear-gradient(270deg,darkgrey, black);
}

h1{
   padding-top:15px;
   padding-bottom:0px;
   margin-bottom:0px;
   margin-left:50px;
   color: #7E1D35;
   text-shadow: -1px 1px 2px #020F92;
}

.title-description{
   margin-top:0px;
   margin-bottom:10px;
   margin-left:70px;
   padding-top:0px;
   padding-bottom:10px;
   font-size: 0.8em;
   color: gold;
}

.contents{
   display: inline-block;
   width: 500px;
   vertical-align:top;
   padding-left:25px;
}

.title{
   font-size:1.5em;
   margin-top:1.5em;
   margin-bottom:1em;
   margin-left:1em;
}

.sentence{
   display: inline-block;
   text-align: left;
   margin-top: 0px;
   line-height: 1.25em;
   font-size: 120%;
   word-wrap: break-word;
}

.menu-button{
   position:fixed;
   right:30px;
   background-color: grey;
   border: 8px;
   border-color:white;
   border-style: solid;
   padding:5px;
   width:40px;
   height:40px;
   opacity:0.7;
 }

.menu-button:hover{
   opacity:1; 
}

.menu{
   width:250px;
   display:inline-block;
   left:5px;
   top:5px;
   text-align: left;
   margin-top: 15px;
   padding:5px;
   color:grey;
}

.menu-time, .menu-sound, .menu-search {
   margin-top:2px;
}

.input{
   left:30px;
   position:relative;
   margin-bottom:5px;
   background-color:#D8D8D8;
}

@media screen and (max-width: 600px){
   .header{
   }
   .contents{
      width:auto;
   }
}

@media screen and (max-width: 780px){
   .menu{
      display: none;
   }
   .menu-button{
      display: inline;
  }
}
